*~
*.swp
.DS_Store
.ipynb_checkpoints/
__pycache__/
*.pyc
_build/
_references.bib
some_numbers.txt
ds114_sub009_t2r1_conv.txt
voxel_time_course.txt
clipped_image.nii
simplemod.py
example_module.py
another_example.py
code/a_module.py
mydirmod/
rdmodule.py
test_rdmodule.py
*.ipynb
*.orig
an_example_4d.nii
_scripts/test_*.pdf
images/2d_reshape.pdf
spm_processing/
pyscript_*.m
my_*.nii
my_pair_image.*
